*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

    height: 100vh;
    background-color: hsl(0, 91%, 10%);
    
}

img{

    width: 100px;
}

.card-game-container{

   margin: auto;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    
    perspective: 1000px;
    border-radius: 15px;

    
  

    
    /* #2 */
    padding: 5px;
    
    
   
    
    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow:
        0 0 0 10px hsl(0, 91%, 20%),
        0 0 0 15px hsl(0, 91%, 15%);
            /* #1 */
    border: 5px solid hsl(0, 91%, 28%);
    background: hsl(0, 91%, 30%);
    
}
.cards{

   
    width:calc(25% - 10px) ;
    height:calc(33% - 10px) ;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background-color: forestgreen;
    border-radius: 10px;
}
.cards:active{

    transform: scale(.97);
    transition: transform .1s;
}

.cards.flip{
transform: rotateY(180deg);

}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border: 2px solid black;
    backface-visibility: hidden;
    border-radius: 10px;
}
.back-face{

    transform:rotateY(180deg);
}


button{

text-align:center;

font-size: 16px;
background-color:red;
border-radius: 10px;
border-color: hsl(0, 91%, 30%);
margin: 15px 0 0 0;
font-family: 'Shadows Into Light', cursive;
font-size: 40px;
width: 100%;
height: 100%;

}

.container{

    margin: auto;
    display: flex;
    margin-bottom:2% ;
    margin-top:8% ;
    
    
    
}
.container-button{


     margin: auto;
  width: 10%;
  height: 10%;
}